<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a
      class="navbar-brand order-1 mr-0"
      href="https://github.com/tdimnet/Capstone-Project-Build-Your-Own-Web-Application"
      target="_blank">
      Treehouse's Techdegree | Captstone Project
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" ng-href="/#!/">
        Home
      </a>
      <a class="nav-item nav-link">
        About
      </a>
      <a class="nav-item nav-link">
        Explanations
      </a>
      <a class="nav-item nav-link" ng-href="/#!/signup">
        Sign Up
      </a>
      <a class="nav-item nav-link" ng-href="/#!/signin">
        Sign In
      </a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container text-sm-center pt-5">
    <h1 class="display-2">
      Captstone Project
    </h1>
    <p class="lead">
      Register Our Favorite locations and keep track of them!
    </p>
    <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
      <a class="btn btn-light btn-lg" ng-href="/#!/signup">
        Sign up
      </a>
      <a class="btn btn-primary btn-lg" ng-href="/#!/signin">
        Sign In
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h1>Hello from main controller</h1>
</div>
