<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a
      class="navbar-brand order-1 mr-0"
      href="https://github.com/tdimnet/Capstone-Project-Build-Your-Own-Web-Application"
      target="_blank">
      Treehouse's Techdegree | Captstone Project
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" ng-href="/#!/">
        Home
      </a>
      <a class="nav-item nav-link">
        About
      </a>
      <a class="nav-item nav-link">
        Explanations
      </a>
      <a class="nav-item nav-link" ng-href="/#!/signup">
        Sign Up
      </a>
      <a class="nav-item nav-link" ng-href="/#!/signin">
        Sign In
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Hello from sign up controller</h2>
</div>
