extends ../../core/layout

block content
    .jumbotron.jumbotron-fluid.bg-info.text-white
        .container.text-sm-center.pt-5
            h1.display-4 New Restaurant
            p.lead Start by searching for a new restaurant

    form.col-md-8.offset-md-2#search-form
        .form-group
            input.form-control(type='text', placeholder='Search Term', id='search-input')
        .form-group
            input.form-control(type='text', placeholder='Your Location', id='location-input')
        .form-group
            input.btn.btn-primary.btn-lg.btn-block(type='submit')

    script(src='/js/searchRestaurants.js')
