extends ../../core/layout

block content
    .jumbotron.jumbotron-fluid.bg-info.text-white
        .container.text-sm-center.pt-5
            h1.display-4 Weclome #{name}
            p.lead This is our profile where you can manage your favorite restaurants

    .container
        ul.nav.justify-content-center.pb-4.nav-tabs.mb-4
            li.nav-item
                a.nav-link(href="profile/new-restaurant") Add new restaurant
            li.nav-item
                a.nav-link(href="profile/all-restaurants") See the restaurants saved

        section.mb-4
            h3 Your five latest restaurants
            if restaurants.length > 0
                .row
                    each restaurant in restaurants
                        .col-sm-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    h5.card-title= restaurant.nickName
                                    p.card-text= restaurant.description
                                    a.btn.btn-outline-primary(href='/profile/restaurant-saved/' + restaurant.restaurantName) See Details
            else
                .col-sm-10.alert.alert-secondary
                    h4.alert-heading No restaurant saved
                    hr
                    p Start by adding new restaurant with the add button. Soon you will be able to save and retrieve your restaurants very easily. I am sure you can do it!!!
