extends ../../core/layout

block content
    .jumbotron.jumbotron-fluid.bg-info.text-white
        .container.text-sm-center.pt-5
            h1.display-4 Your saved restaurant
            p.lead An excellent choice of restaurant indeed!

    div(id='restaurant-saved')

    .container
        h5 The restaurant location
        div(id="map")


    script(src='/js/getSavedRestaurantDetails.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3LZlkBJEN0reTK6DyANwdjU9hhi3P8KQ")