extends ../core/layout

block content
    h1 About us
    p Yumi Restaurant is the last project of the treehouse techdegree in Full Stack Javascript. It uses all the knowledge and skills seen so far. The server uses an express server to save and retrieve data. On the front end, the site uses vanilla JavaScript and simple but nice CSS.
    a(href='/register') Start your demo now!