extends ../core/layout

block content
    .container.pt-4
        .alert.alert-danger(role='alert')
            h4.alert-heading Something went wrong..
            p= message
            hr
            a.btn.btn-light.justify-content-center(href='/') Return to home