extends ../core/layout

block content
    .jumbotron.jumbotron-fluid.bg-info.text-white
        .container.text-sm-center.pt-5
            h1.display-4 Yumi Restaurant
            p.lead Find ans save our favourite places.
            a(class='btn btn-primary btn-lg', href='/register') Get Started for FREE
