extends ../core/layout

block content
    h1 Sign Up
    form(method='POST', action='/register')
        label(for='name') Name
            input(type='text', id='name', placeholder='Your name', name='name')
        label(for='email') Email
            input(type='email', id='email', placeholder='Your email', name='email')
        label(for='password') Password
            input(type='password', id='password', placeholder='Your password', name='password')
        button(type='submit') Sign Up