doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Capstone Project
    link(rel='stylesheet', href='/css/main.css')

body
    include navbar

    block content

    footer A project build during the Treehouse Techdegree in Full Stack Javascript
