nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/") Yumi Restaurant
    ul.navbar-nav
        li.nav-item.active
            a.nav-link(href="/") Home
        li.nav-item
            a.nav-link(href="/about") About
        li.nav-item
            a.nav-link(href="/contact") Contact
        if !currentUser
            li.nav-item
                a.nav-link(href="/login") Login
            li.nav-item.active
                a.nav-link(href="/register") Sign Up

        else
            li.nav-item
                a.nav-link(href="/profile") My Profile
            li.nav-item
                a.nav-link(href="/logout") Log out

