nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#") Yumi Restaurant
    .collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/profile") My Profile
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link(href="/contact") Contact
            li.nav-item.active
                a.nav-link(href="/register") Sign Up
            li.nav-item
                a.nav-link(href="/logout") Login
            li.nav-item
                a.nav-link(href="/login") Log out
